{% extends 'BaseBackOffice.html.twig' %}

{% block title %}New Livraison{% endblock %}

{% block content %}
    <h1>Create new Livraison</h1>
 
 <a href="{{ path('app_livraison_index') }}" class="btn btn-secondary">back to list</a>
   
    {{ include('livraison/_form.html.twig') }}

{% endblock %}
