{% for i in tabBooksA %}

        <tr>
            <td>{{ i.ref }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.published }}</td>
            <td>{{ i.publicationDate|date }}</td>

        </tr>

    {% endfor %}